nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 25px;
    padding-right:15px;
    box-sizing: border-box; 
}

.nav-links {
    display: flex;
    gap: .75vw; 
    align-items: center;
}

.accounts {
    display: flex;
    gap: .75vw;
}