{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %} NodeLink {% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{% static 'app/images/NodeLinkPurp.ico' %}?v=2" />
    {% block head %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'app/css/base.css' %}">

</head>
<body>
    {% include 'app/navbar.html' %}
    
    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}

</body>
</html>