{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}">

<nav>
    <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </div>

    <div class="accounts">
        {% if not user.is_authenticated %}
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <button>Sign up</button>
            </form>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button>Log in</button>
            </form>
        {% else %}
            <form action="{% url 'logout' %}"class="nav-link" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <a href="{%url 'account'%}"></a>
        {% endif %}
    </div>
</nav>