{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/navbar.css' %}">

<nav>
    <div class="nav-links">

        <a class="nav-logo" href="{% url 'home' %}"><img src="{%static 'app/images/NodeLinkBlack.png' %}"alt="NodeLink Logo" class="navbar-logo"></a>
        <a class="nav-item" href="{% url 'admin:index' %}">Admin</a>
    </div>

    <div class="accounts">
        {% if not user.is_authenticated %}
            <form action="{% url 'signup' %}" method="post">
                {% csrf_token %}
                <button class="nav-item" type="submit">Sign up</button>
            </form>
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <button class="nav-item" type="submit">Log in</button>
            </form>
        {% else %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="nav-item" type="submit">Logout</button>
            </form>
            <a class="nav-item" href="{% url 'profile' %}">Account</a>
        {% endif %}
    </div>
</nav>

