{% extends 'app/base.html' %}
{% load static %}


{% block head %}
{% endblock %}

{% block content%}
<div class="profile-container">
    <div class="profile-header">
        <img src="https://via.placeholder.com/120" alt="User Avatar" class="profile-avatar">
    </div>

    <div class="profile-body">

        {% if is_own_profile %}
        <div class="own-profile-section" id="ownProfileSection">
                <button>Edit Profile</button>
                <button>Account Settings</button>
            </div>
        {% endif %}
    </div>
  </div>
<h1>{{ profile_user.username }}'s Profile</h1>



{% endblock%}