nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    height: 3vh;
    
    padding-left: 10px;
    padding-right:15px;
    box-sizing: border-box; 
}


.nav-links {
    display: flex;
    gap: .75vw; 
}

.accounts {
    display: flex;
    gap: 1vw;
}